/* NavBar.css */

a {
  text-decoration: none;
  }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /* background: transparent;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}

.navbar-transparent {
  background: transparent;
  color: white;
}

.navbar-solid {
  background: transparent;
  color: white;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #0077ff;
}

.nav-spacer {
    height: 80px; /* Match your nav bar height */
    width: 100%;
}
